head{
    img{
        border-radius: 15px;
        border:10px groove grey;
    }
}


body {
    background-color: bisque;
}

.text {
    color: black;
}

img{
    border-radius: 15px;
    border:10px groove rgb(170, 170, 170);
}
