Head {
    background-color: bisque;
}

Body {
    background-color: bisque;
}

div {
    border: 10px groove grey;
    border-radius: 5px ;
    background-color: bisque;
}

.about-me {
    background-color: grey;
}

